Repository MicrosoftDocs/azure-aks-docs, pull requests merged in 2024-10, with the labels that each got.

#51 Update configure-kubenet.md
  articles/aks/configure-kubenet.md
Labels: ready-to-merge, Change sent to author, azure-kubernetes-service/svc, aq-pr-triaged, aks-networking/subsvc, qualifies-for-auto-merge

#54 Update certificate-rotation.md
  articles/aks/certificate-rotation.md
Labels: ready-to-merge, Change sent to author, azure-kubernetes-service/svc, aq-pr-triaged, aks-security/subsvc, qualifies-for-auto-merge

#53 Update manage-azure-rbac.md
  articles/aks/manage-azure-rbac.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, aq-pr-triaged, aks-security/subsvc, qualifies-for-auto-merge

#61 Fix broken links in api-server-authorized-ip-ranges.md
  articles/aks/api-server-authorized-ip-ranges.md
Labels: ready-to-merge, Change sent to author, azure-kubernetes-service/svc, aq-pr-triaged, qualifies-for-auto-merge

#52 Update configure-azure-cni.md
  articles/aks/configure-azure-cni.md
Labels: ready-to-merge, Change sent to author, azure-kubernetes-service/svc, aq-pr-triaged, aks-networking/subsvc, qualifies-for-auto-merge

#59 Update load-balancer-standard.md
  articles/aks/load-balancer-standard.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, aq-pr-triaged, aks-networking/subsvc, qualifies-for-auto-merge

#73 Fixed indentation for MongoDB cluster bash
  articles/aks/deploy-mongodb-cluster.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, qualifies-for-auto-merge

#45 Corrected admin user role (local account)
  articles/aks/concepts-identity.md
Labels: ready-to-merge, Change sent to author, azure-kubernetes-service/svc, aq-pr-triaged, aks-security/subsvc, qualifies-for-auto-merge

#77 Fix the feature name - AKSWindowsAnnualPreview
  articles/aks/windows-annual-channel.md
Labels: ready-to-merge, Change sent to author, azure-kubernetes-service/svc, aq-pr-triaged, qualifies-for-auto-merge

#78 fix: ingress spec.rules
  articles/aks/create-nginx-ingress-private-controller.md
Labels: ready-to-merge, Change sent to author, azure-kubernetes-service/svc, aq-pr-triaged, aks-networking/subsvc, qualifies-for-auto-merge
