Repository MicrosoftDocs/azure-aks-docs, pull requests merged in 2024-12, with the labels that each got.

#95 Update faq.yml (blocking users from modifying resources)
  articles/aks/faq.yml
Labels: do-not-merge, aq-pr-triaged, review-team-triage, needs-human-review

#105 Update eks-edw-overview.md
  articles/aks/eks-edw-overview.md
Labels: ready-to-merge, Change sent to author, azure-kubernetes-service/svc, qualifies-for-auto-merge

#111 Update virtual-nodes-cli.md
  articles/aks/virtual-nodes-cli.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, aks-nodes/subsvc, qualifies-for-auto-merge

#114 docs: remove deprecated yaml key and misspelled value
  articles/aks/advanced-network-observability-cli.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, aq-pr-triaged, aks-networking/subsvc, qualifies-for-auto-merge

#126 Update use-pod-sandboxing.md
  articles/aks/use-pod-sandboxing.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, aks-security/subsvc, qualifies-for-auto-merge
