Repository MicrosoftDocs/azure-aks-docs, pull requests merged in 2024-08, with the labels that each got.

#4 Fix inaccurate statement in keda-about.md
  articles/aks/keda-about.md
Labels: ready-to-merge, Change sent to author, azure-kubernetes-service/svc, aq-pr-triaged

#8 Add link to Flyte reference implementation
  articles/aks/use-flyte.md
Labels: ready-to-merge, Change sent to author, azure-kubernetes-service/svc, aq-pr-triaged

#11 Added aad-pod-identity to list of limitations for AKS with Azure CNI powered by Cilium
  articles/aks/azure-cni-powered-by-cilium.md
Labels: ready-to-merge, Change sent to author, azure-kubernetes-service/svc, aq-pr-triaged, aks-networking/subsvc

#15 Update create-node-pools.md
  articles/aks/create-node-pools.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, aq-pr-triaged, aks-nodes/subsvc

#19 Fix typo in create-nginx-ingress-private-controller.md
  articles/aks/create-nginx-ingress-private-controller.md
Labels: ready-to-merge, Change sent to author, azure-kubernetes-service/svc, aq-pr-triaged, aks-networking/subsvc

#17 Update use-kms-etcd-encryption.md
  articles/aks/use-kms-etcd-encryption.md
Labels: ready-to-merge, Change sent to author, azure-kubernetes-service/svc, aq-pr-triaged, aks-security/subsvc

#28 Fix format in configure-azure-cni-static-block-allocation.md
  articles/aks/configure-azure-cni-static-block-allocation.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, aks-networking/subsvc
