Repository MicrosoftDocs/azure-aks-docs, pull requests merged in 2024-11, with the labels that each got.

#71 aks/use-wasi-node-pools: update the doc to refer to SpinKube
  articles/aks/use-wasi-node-pools.md
Labels: ready-to-merge, Change sent to author, azure-kubernetes-service/svc, aq-pr-triaged, needs-human-review

#81 Updated the default values of the UDP buffer size
  articles/aks/troubleshoot-udp-packet-drops.md
Labels: ready-to-merge, Change sent to author, azure-kubernetes-service/svc, aq-pr-triaged, qualifies-for-auto-merge

#70 Update advanced-network-container-services-security-cli.md
  articles/aks/advanced-network-container-services-security-cli.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, aq-pr-triaged, aks-networking/subsvc, qualifies-for-auto-merge

#83 Update istio-deploy-ingress.md
  articles/aks/istio-deploy-ingress.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, qualifies-for-auto-merge

#84 docs: fix keda links
  articles/aks/concepts-scale.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, aq-pr-triaged, qualifies-for-auto-merge

#87 Update api-server-vnet-integration.md
  articles/aks/api-server-vnet-integration.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, aq-pr-triaged, aks-networking/subsvc, qualifies-for-auto-merge

#63 Update use-node-public-ips.md
  articles/aks/use-node-public-ips.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, aq-pr-triaged, inactive, qualifies-for-auto-merge

#56 Update use-metrics-server-vertical-pod-autoscaler.md
  articles/aks/use-metrics-server-vertical-pod-autoscaler.md
Labels: ready-to-merge, Change sent to author, azure-kubernetes-service/svc, aq-pr-triaged, inactive, qualifies-for-auto-merge

#89 Update use-managed-identity.md
  articles/aks/use-managed-identity.md
Labels: ready-to-merge, Change sent to author, azure-kubernetes-service/svc, aq-pr-triaged, aks-security/subsvc, qualifies-for-auto-merge, missed-content-complete, event-triaged-to-10AM

#91 Update workload-identity-overview.md
  articles/aks/workload-identity-overview.md
Labels: ready-to-merge, Change sent to author, azure-kubernetes-service/svc, aq-pr-triaged, aks-security/subsvc, qualifies-for-auto-merge, missed-content-complete, event-triaged-to-10AM

#92 Adding missing maxCount factor in load-balancer-standard.md
  articles/aks/load-balancer-standard.md
Labels: ready-to-merge, Change sent to author, azure-kubernetes-service/svc, aq-pr-triaged, aks-networking/subsvc, qualifies-for-auto-merge

#96 Fix format in use-trusted-launch.md
  articles/aks/use-trusted-launch.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, aks-security/subsvc, qualifies-for-auto-merge
