Repository MicrosoftDocs/azure-aks-docs, pull requests merged in 2025-01, with the labels that each got.

#133 Added link-out to Ray doc in ai-ml-overview.md
  articles/aks/ai-ml-overview.md
Labels: ready-to-merge, Change sent to author, azure-kubernetes-service/svc, aq-pr-triaged, qualifies-for-auto-merge

#130 Update csi-secrets-store-configuration-options.md
  articles/aks/csi-secrets-store-configuration-options.md
Labels: ready-to-merge, Change sent to author, azure-kubernetes-service/svc, aq-pr-triaged, aks-security/subsvc, qualifies-for-auto-merge

#108 Fix wrong statement about system nodepool in create-node-pools.md
  articles/aks/create-node-pools.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, aq-pr-triaged, aks-nodes/subsvc, inactive, qualifies-for-auto-merge

#136 update Confidential Containers docs
  articles/aks/confidential-containers-overview.md
  articles/aks/deploy-confidential-containers-default-policy.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, aq-pr-triaged, aks-security/subsvc, qualifies-for-auto-merge

#140 KataCcIsolation deployment doc improvements
  articles/aks/deploy-confidential-containers-default-policy.md
Labels: ready-to-merge, Change sent to author, azure-kubernetes-service/svc, aq-pr-triaged, qualifies-for-auto-merge
