Repository MicrosoftDocs/azure-aks-docs, pull requests merged in 2025-05, with the labels that each got.

#222 Update core-aks-concepts.md
  articles/aks/core-aks-concepts.md
  articles/aks/quotas-skus-regions.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, aq-pr-triaged

#229 Updated container image for Windows HPC
  articles/aks/use-windows-hpc.md
Labels: ready-to-merge, Change sent to author, azure-kubernetes-service/svc, aq-pr-triaged, missed-content-complete, event-triaged-to-10AM

#243 Change variable `KEYVAULT_RESOURCE_GROUP` to `RESOURCE_GROUP`
  articles/aks/workload-identity-deploy-cluster.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, aq-pr-triaged, aks-security/subsvc

#242 Update supported-kubernetes-versions.md
  articles/aks/supported-kubernetes-versions.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, aq-pr-triaged
