Repository MicrosoftDocs/azure-aks-docs, pull requests merged in 2025-07, with the labels that each got.

#271 Fix typo in TOC.yml
  articles/aks/TOC.yml
Labels: do-not-merge, review-team-triage, needs-human-review

#174 [cost-analysis] Add a note about cost-analysis-identity
  articles/aks/cost-analysis.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, aq-pr-triaged, inactive, aks-monitoring/subsvc

#226 Update virtual-nodes-cli.md
  articles/aks/virtual-nodes-cli.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, aq-pr-triaged, aks-nodes/subsvc

#266 Update cost-analysis.md to create the resource group before the AKS cluster
  articles/aks/cost-analysis.md
Labels: ready-to-merge, Change sent to author, azure-kubernetes-service/svc, aq-pr-triaged, aks-monitoring/subsvc

#274 Update upgrade-basic-load-balancer-on-aks.md
  articles/aks/upgrade-basic-load-balancer-on-aks.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, aq-pr-triaged

#252 Update custom-certificate-authority.md, add caveat for not supporting container container's secret store
  articles/aks/custom-certificate-authority.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, aq-pr-triaged
