Repository MicrosoftDocs/azure-aks-docs, pull requests merged in 2025-04, with the labels that each got.

#191 Update overview.md
  articles/aks/security-bulletins/overview.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, aq-pr-triaged, aks-security/subsvc

#182 Update use-vertical-pod-autoscaler.md
  articles/aks/use-vertical-pod-autoscaler.md
Labels: ready-to-merge, Change sent to author, azure-kubernetes-service/svc, aq-pr-triaged

#194 Update Prerequisites in cost-analysis.md
  articles/aks/cost-analysis.md
Labels: ready-to-merge, Change sent to author, azure-kubernetes-service/svc, aq-pr-triaged, aks-monitoring/subsvc

#199 clarify limitations section
  articles/aks/azure-disk-customer-managed-keys.md
Labels: ready-to-merge, Change sent to author, azure-kubernetes-service/svc, aq-pr-triaged, aks-storage/subsvc

#200 Update long-term-support.md
  articles/aks/long-term-support.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc

#193 Update SpinKube operator and shim versions
  articles/aks/deploy-spinkube.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, aq-pr-triaged
