Repository MicrosoftDocs/azure-aks-docs, pull requests merged in 2025-03, with the labels that each got.

#175 Updated availability-zones-overview.md
  articles/aks/availability-zones-overview.md
Labels: ready-to-merge, Change sent to author, azure-kubernetes-service/svc, aq-pr-triaged

#176 Update confidential-containers-overview.md
  articles/aks/confidential-containers-overview.md
Labels: ready-to-merge, Change sent to author, azure-kubernetes-service/svc, aq-pr-triaged, aks-security/subsvc

#180 added guidance for applying CMK encryption to existing PVCs/applying cross account CMK encryption
  articles/aks/azure-disk-customer-managed-keys.md
Labels: ready-to-merge, Change sent to author, azure-kubernetes-service/svc, aq-pr-triaged, aks-storage/subsvc

#178 Update outdated info in quotas-skus-regions.md
  articles/aks/quotas-skus-regions.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, aq-pr-triaged

#185 Update internal-lb.md
  articles/aks/internal-lb.md
Labels: ready-to-merge, Change sent to author, azure-kubernetes-service/svc, aq-pr-triaged, aks-networking/subsvc
