Repository MicrosoftDocs/azure-aks-docs, pull requests merged in 2025-02, with the labels that each got.

#109 Update auto-upgrade-node-os-image.md
  articles/aks/auto-upgrade-node-os-image.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, aq-pr-triaged, aks-upgrade/subsvc, qualifies-for-auto-merge

#128 Clarification on the Control Plane spread across multiple AZs
  articles/aks/aks-zone-resiliency.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, aq-pr-triaged, qualifies-for-auto-merge

#163 Update Storage Concepts
  articles/aks/concepts-storage.md
Labels: ready-to-merge, Change sent to author, azure-kubernetes-service/svc, aks-storage/subsvc, qualifies-for-auto-merge

#165 Update core-aks-concepts.md
  articles/aks/core-aks-concepts.md
Labels: ready-to-merge, Change sent to author, azure-kubernetes-service/svc, qualifies-for-auto-merge

#159 Update gpu-cluster.md
  articles/aks/gpu-cluster.md
Labels: ready-to-merge, Change sent to author, azure-kubernetes-service/svc, aq-pr-triaged, aks-developer/subsvc, qualifies-for-auto-merge

#154 Update free-standard-pricing-tiers.md
  articles/aks/free-standard-pricing-tiers.md
Labels: ready-to-merge, Change sent to author, azure-kubernetes-service/svc, aq-pr-triaged, inactive, qualifies-for-auto-merge

#167 docs: replace dash with hyphens
  articles/aks/imds-restriction.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, aq-pr-triaged, qualifies-for-auto-merge

#168 correct product name: Astra Trident > Trident
  articles/aks/azure-netapp-files-dual-protocol.md
  articles/aks/azure-netapp-files-nfs.md
  articles/aks/azure-netapp-files-smb.md
  articles/aks/azure-netapp-files.md
Labels: ready-to-merge, Change sent to author, azure-kubernetes-service/svc, aks-storage/subsvc, qualifies-for-auto-merge
