Repository MicrosoftDocs/azure-aks-docs, pull requests merged in 2025-06, with the labels that each got.

#239 Application Insights Autoinstrumentation and regional Gateway endpoints
  articles/aks/outbound-rules-control-egress.md
Labels: ready-to-merge, Change sent to author, azure-kubernetes-service/svc, aq-pr-triaged, aks-networking/subsvc

#232 Update aks-extension-kaito.md
  articles/aks/aks-extension-kaito.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, aq-pr-triaged, inactive

#261 add link to Seccomp profile TSG
  articles/aks/secure-container-access.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, aq-pr-triaged, aks-security/subsvc
