Repository MicrosoftDocs/azure-aks-docs, pull requests merged in 2025-08, with the labels that each got.

#281 Correcting Command in Docs to Get MutatingWebhookConfiguration for OSM
  articles/aks/open-service-mesh-troubleshoot.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, aq-pr-triaged

#285 Update docs to reflect actual proxy sidecar behavior
  articles/aks/workload-identity-overview.md
Labels: ready-to-merge, Change sent to author, azure-kubernetes-service/svc, aks-security/subsvc

#280 Update concepts-l4-load-balancing.md
  articles/kubernetes-fleet/concepts-l4-load-balancing.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, azure-kubernetes-fleet-manager/svc

#189 concepts-identity: reword group claim limit
  articles/aks/concepts-identity.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, aq-pr-triaged, aks-security/subsvc, inactive

#290 Update supported-kubernetes-versions.md
  articles/aks/supported-kubernetes-versions.md
Labels: ready-to-merge, Change sent to author, azure-kubernetes-service/svc, aq-pr-triaged

#296 Update ai-toolchain-operator.md
  articles/aks/ai-toolchain-operator.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, aq-pr-triaged

#291 Added a note to warn customers about implications of pod cidr overlap
  articles/aks/azure-cni-overlay.md
Labels: do-not-merge, Change sent to author, azure-kubernetes-service/svc, aq-pr-triaged, aks-networking/subsvc

#299 add centralus to AKS APIServerVNetIntegration GA regions
  articles/aks/api-server-vnet-integration.md
Labels: ready-to-merge, Change sent to author, azure-kubernetes-service/svc, aq-pr-triaged, aks-networking/subsvc
